*{
    margin:0;
    padding:0;
}
.topNavBar{
    margin-right: 15px;
    
}
.topNavBar ul li{
    float:left;
    list-style: none;
    margin-left: 20px;

}
.topNavBar .clearfix{
    clear:both;
    float: right;
    
}
.topNavBar{
    margin-top: 20px;
}
.topNavBar .navLink{
    font-family: arial;
    color: #333;
    font-weight: 700;
    font-size: 13px;
    text-decoration: underline;
    
}
.topNavBar .navLink:hover{
    color: rgb(0, 0, 204);
    font-weight: 700;
}
.topNavBar #login,.topNavBar #setting{
    color: rgb(51, 51, 51);
    font-size: 13px;
}
.topNavBar #login:hover,.topNavBar #setting:hover{
    color: rgb(0, 0, 204);
}
.topNavBar #activity{
    font-size: 13px;
    font-weight: 700;
    color:#F23F40;
    position: relative;
    margin-left: -20px;
}
.topNavBar #activity:after{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:#F23F40;
    position:absolute;
    left:52px;
    bottom:10px;
}
.topNavBar #more{
    background-color: #38f;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    cursor: default;
    padding: 3px;
    
}
