ul,li{
  list-style: none;
  margin:0;
  padding:0;
}
.icon {
  width: 25px; height: 40px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  border:1px solid;
  border-radius: 12px;
}
.leftButton ,.rightButton{
  width:25px;
  height:40px;
  /* border:1px solid red; */
  z-index: 1;
  align-self: center;
  opacity: 0.3;
  cursor: pointer;
}
.leftButton{
  left:2px;
  position: absolute;
  transition:all 0.6s;
}
.leftButton:hover{
  background:rgba(255, 255, 255, .05);
  transform: scale(0.9);
}
.rightButton{
  right:2px;
  position: absolute;
  transition:all 0.6s;
}
.rightButton:hover{
  background:rgba(255, 255, 255, .05);
  transform: scale(0.9);
}
.slider-list{
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}
.wraper{
  display:flex;
  align-items:flex-start;
  /* border:1px solid red; */
  width:1500px;
  /* transform: translate(-500px); */
  /* transition: all 0.5s; */
  position: absolute;
}
/* .clearfix::after{
  content: '';
  display: block;
  clear: both;
} */
/* .wraper ,.move{
  transform: translate(-500px);
} */
.wraper .slider-item{
  flex:0 0 300px;
  /* float:left; */
}
li{
  width:10px;
  height: 10px;
  border:1px solid;
  border-radius: 50%;
  cursor:pointer;
  margin:0 5px;
  display: inline-block;
  background-color:white;
  opacity: 0.5;
}
.active{
  background-color: #282c34;
  opacity:0.8;
}
.index{
  position: absolute;
  bottom: 2px;
  display: flex;
}