*{
  margin:0;
  padding:0;
}
body{
  background:grey url(./wallhaven-728890-min.jpg) no-repeat center center;
  background-size:cover;
}
a{
  text-decoration:none;
}
kbd{
  border:1px solid red;
  width:4em;
  height:4em;
  display:inline-block;
  text-transform:uppercase;
  position:relative;
}
kbd svg{
  position:absolute;
  right:0;
  bottom:0;
  display:none;/*默认不显示，等hover再显示*/
}

kbd:hover svg{
  display:block;
} 
.wraper>div:nth-child(2){
  margin-left:-22px;
}
.wraper>div:nth-child(3){
  margin-left:-80px;
}
.wraper{
  display:inline-block;
  background:rgba(255,255,255,0.2);
  border-radius:10px;
  /* text-align:center; */
}
main{
  text-align:center;/*内联元素父元素设置这个，内联元素才会水平居中*/
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.key{
  width:50px;
  height:40px;
  background: linear-gradient(to bottom, #292929 0%,#111111 99%); 
  border:1px solid #373737;
  color:#C5C5C5;
  border-radius:6px;
  box-shadow:0 0 0 1px #1A1B1C,0 0 0 2px #1F2020,0 3px 0 2px #080008;
  /* display:inline-flex;
  align-items:center;
  justify-content:center; key里面的字后面在span里，所以这里删掉  */ 
  margin:0 10px;
  font-size:16px;
  font-family:Helvetica;
}
.row{
  margin:20px;
}
img{
  width:16px;
  height:16px;
  position:absolute;
  left:4px;
  bottom:2px;
}
.span-text{
  position:absolute;
  left:4px;
  top:2px;
}
.icon{
  width: 18px; height: 18px;
  /* vertical-align:top; */
  margin:1px 0px;
  fill: currentColor;
  overflow: hidden;
}

.iconDiv{
  width:50px;
  height:50px;
  display:block;
  border-radius:50%;
  outline:none;
}
